.arrow-section {
   display: flex;
   color: #fff;
}
.arrow-section__item {
   width: 50%;
   height: 125px;

   @include tablets {
      height: 75px;
   }

   @include phones {
      height: 50px;
   }
}