.header {
   padding: 60px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__social {
      display: flex;
      @include tablets {
         margin-right: 100px;
      }
   }
}

.header__nav {
   margin: 0 20px;
   flex: 0 1 760px;

   @include tablets {
      display: none;
   }
}

.header__burger {
   height: 20Px;
   display: none;
   @include tablets {
      position: absolute;
      right: 0;
      display: block;
      z-index: 1100;
   }
}