.header {
   padding: 60px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__nav {
   margin: 0 20px;
   flex: 0 1 760px;

   @include tablets {
      display: none;
   }
}