.mag-slider {
   max-width: 650px;
   height: 365px;
   background-color: #ddd;
   position: relative;

   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      position: absolute;
      right: 0;
      bottom: 10%;

   }

   &__item {
      border: 1px solid #666;
      height: 80px;
      width: 110px;
      background-color: #999;
   }
}

