.nav {
   font-weight: 600;
   
   @include tablets {
      display: none;
   }
   
   &__list {
      display: flex;
      align-items: center;
   }

   &__item {
      margin-right: 60px;
      // ! не резина
      
      &:last-child {
         margin-right: 0;
      }
   }

   &__link {
      // padding: 5px 5px;
      white-space: nowrap;
   }
}
