.nav {
   font-weight: 500;
   
   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }

   &__item {
      margin-right: 4%;
      
      &:last-child {
         margin-right: 0;
      }
   }

   &__link {
      white-space: nowrap;

      &:hover {
         text-shadow: 0 0 .65px, 0 0 .65px;
      }
   }
}
