.scroll-down-btn {

   &__svg-container {
      width: 30px;
      height: 30px;

      &::before {
         content: 'Скролл';
         font-weight: 700;
         position: absolute;
         top: 50%;
         transform: translate(-120%, -50%);
      }

      &__svg {
         width: 100%;
         height: 100%;
         display: block;
      }
   }
   
   &:hover {
      fill: currentColor;
      color: $main
   }
}
// ! ещё варианты реализации?
