.social {
   display: flex;

   &__item {
      margin-right: 30px;
      
      &:last-child {
         margin-right: 0;
      }
   }

   &__link {
      width: 25px;
      height: 25px;

      &:hover .social__svg {
         fill: $main;
      }
   }

   &__svg {
      fill: currentColor;
   }
}