.values {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   margin: 0 5%;

   .values__row {
      position: relative;
   }

   .values__row-title { 
      font-size: 24px;
      font-weight: 700;
   }

   .values__list-row {
      display: flex;
      flex-wrap: wrap;
   }
}