script(type="text/x-template")#feedback-container
	.feedback__container(@click="checkActiv" @touchend="checkActiv")
		.feedback__title-row
			h2.feedback__title Что обо мне говорят
			.feedback__toggles
				button(@click="previous" :disabled="true").feedback__toggles-btn.feedback__toggles-btn_prev
				button(@click="next" :disabled="false").feedback__toggles-btn.feedback__toggles-btn_next
		.slider-feedback
			flickity(ref="flickity" :options="flickityOptions").slider-feedback__window
				.feedback-review(v-for="card in feedbackList" :key="card.id")
					massege(
						:cardList="card"
					)

script(type="text/x-template")#feedback-massege
	.feedback-review__content
		.feedback-review__item-quote
			+icon('quote', 'feedback-review__item-quote-svg')
		.feedback-review__item-content
			p {{cardList.massege}}
			.feedback-review__item-content-card
				.feedback-review__item-content-logo
					.avatar
						img(:src="cardList.avatar").avatar__img
				.feedback-review__item-content-name
					.feedback-review__name(v-text="cardList.name")
					.feedback-review__rank(v-text="cardList.rang")