script(type='text/x-template')#projects-container
	.perform-section__content
		display(
			:currentProject='currentProject'
			:project='project'
			@slide='handleSlide'
		)
		info(
			:currentProject='currentProject'
		)

script(type='text/x-template')#projects-display
	.slider-projects
		.slider-projects__wrap
			.slider-projects__number {{currentProject.id}}
			.slider-projects__window
				img.slider-projects__img(:src='currentProject.photo')
			previews(
				:project='project'
				:currentProject='currentProject'
			)
			toggles(
				@slide="$emit('slide', $event)"
			)

script(type='text/x-template')#projects-toggles
	.slider-projects__toggles
		a(@click.prevent="$emit('slide', 'prev')").slider-projects__toggles-btn.slider-projects__toggles-btn_prev
		a(@click.prevent="$emit('slide', 'next')").slider-projects__toggles-btn.slider-projects__toggles-btn_next

script(type='text/x-template')#projects-previews
	ul.slider-projects__list
		li.slider-projects__item(
			v-for='one in project' 
			:key='one.id'
			:class="{'slider-projects__item_active': currentProject.id === one.id}"
			@click=''
		)
			a.slider-projects__link
				img.slider-projects__img(:src='one.photo')

script(type='text/x-template')#projects-info
	.perform-section__description
		.description
			tags(
				:tags="tagsArr"
			)
			h3.description__title {{currentProject.title}}
			.description__text
				p {{currentProject.desc}}
			a.description__link(:href='currentProject.link')
				.description__link-icon
				span Просмотреть сайт

script(type='text/x-template')#projects-tags
	ul.description__list
		li.description__item(
			v-for="tag in tags"
			:key="tag"
		)
			.description__tag
				.tag {{tag}}