script(type="text/x-template")#values
	ul.values
		li.values__row(v-for='category in skills' :key='category.title')
			h3.values__row-title {{category.title}}
			values-list(
				:category='category'
			)

script(type="text/x-template")#values-list
	ul.values__list-row
		li.values__item-row(v-for='skill in category.skills' :key='skill.id')
			skill(
				:skill='skill'
			)

script(type="text/x-template")#skill
	.skill
		svg.skill__svg(viewBox='0 0 200 200' preserveAspectRatio="none")
			defs.skill__defs
				linearGradient(x1='0%' y1='50%' x2='100%' y2='100%')#skill__gradient
					stop(offset='60%' stop-color="#5500f2").skill__fill_start
					stop(offset='100%' stop-color="#ad00ed").skill__fill_stop
			circle.skill__circle.skill__circle_under(cx='100' cy='100' r='67')
			circle.skill__circle.skill__circle_over(cx='100' cy='100' r='67' ref='circle' stroke='url(#skill__gradient)' transform='rotate(-180 100 100)')
		.skill__title {{skill.title}}