-
   var comment = [
      ['user.jpg', 'Max', 'backend', 'massege 1'],
      ['user.jpg', 'Vasia', 'frontend', 'massege 2'],
      ['user.jpg', 'Masha', 'frontend', 'massege 3'],
      ['user.jpg', 'Vova', 'backend', 'massege 4'],
   ];

section.section.section_flex-column-center.feedback
   .container
      .feedback__title-row
         h2.feedback__title Что обо мне говорят
         .feedback__toggles
            a.feedback__toggles-btn.feedback__toggles-btn_prev
               +icon('arrow-down', 'toggles-svg-prev')
            a.feedback__toggles-btn.feedback__toggles-btn_next
               +icon('arrow-down', 'toggles-svg-next')
      .slider-feedback
         ul.slider-feedback__window
            each item in comment
               li.feedback-review
                  .feedback-review__item-quote
                     +icon('quote', 'feedback-review__item-quote-svg')
                  .feedback-review__item-content
                     p #{item[3]} Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, commodi!
                     .feedback-review__item-content-card
                        .feedback-review__item-content-logo
                           .avatar
                              +image('content/'+item[0], 'avatar__img', ''+item[1])
                        .feedback-review__item-content-name
                           .feedback-review__name #{item[1]}
                           .feedback-review__rank #{item[2]}