-	var items = ["Главаная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
-	var icons = ["insta", "vk", "github"];

section.section.hero
   .container
      header.header
         .header__logo
            .logo АК
         .header__nav
            nav.nav
               ul.nav__list
                  each item in items                
                     li.nav__item
                        a.nav__link(href='#') #{item}
         .header__social
            ul.social
               each item in icons
                  li.social__item
                     a.social__link(href='#')
                        +icon(item, "social__svg")
      .header__burger
         a.burger-btn
      .hero__content
         .user-data
            .user-data__desc
               span Личный сайт
               span веб разработчика
            .user-data__name 
               span Name 
               span Surnamt
      a(href='#').hero__scroll-btn.scroll-down-btn
         .scroll-down-btn__svg-container
            +icon('scroll', 'scroll-down-btn__svg')