.parallax-mount
   .parallax-mount__layer(data-speed='0.1')
      +image('parallax-mount/sky.png', 'parallax-mount__image')
   .parallax-mount__layer(data-speed='0.10')
      +image('parallax-mount/mountain.png', 'parallax-mount__image')
   .parallax-mount__layer(data-speed='0.15')
      +image('parallax-mount/baloon.png', 'parallax-mount__image')
   .parallax-mount__layer(data-speed='0.29')
      +image('parallax-mount/cloud.png', 'parallax-mount__image')
   .parallax-mount__layer(data-speed='0.18')
      +image('parallax-mount/man.png', 'parallax-mount__image')
   .parallax-mount__layer(data-speed='0.25')
      +image('parallax-mount/mountain1.png', 'parallax-mount__image')
   .parallax-mount__layer(data-speed='0.18')
      +image('parallax-mount/white.png', 'parallax-mount__image')
   