.parallax
   .parallax__layer
      +image('parallax-buddha/background.png', 'parallax__image')
   .parallax__layer
      +image('parallax-buddha/mount_2.png', 'parallax__image')
   .parallax__layer
      +image('parallax-buddha/buddha_3.png', 'parallax__image')
   .parallax__layer
      +image('parallax-buddha/cloud_4.png', 'parallax__image')
   .parallax__layer
      +image('parallax-buddha/cloud_5.png', 'parallax__image')
   .parallax__layer
      +image('parallax-buddha/cloud_6.png', 'parallax__image')