section.section.resume-section
   .container.container_smoll
      .resume
         .resume__info
            .resume__avatar
               .avatar
                  +image('content/user.jpg', 'avatar__img', 'user_photo')
            ul.resume__info-list
               li.resume__info-item.resume__info-item_left
                  p Проживаю:
                  p Возраст:
                  p Родился:
               li.resume__info-item.resume__info-item_right
                  p Проживаю
                  p Возраст
                  p Родился
         .resume__content
            .resume__disclamer hello world...
            h2.resume__title Name Surnamt
            .resume__about
               p Lorem ipsum dolor sit amet consectetur, adipisicing. Architecto quod voluptatibus quasi? Nostrum, harum dolorum quam totam ducimus dolorem ipsum.
            .resume__ps
               p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo quo modi quibusdam rem possimus. Debitis voluptas recusandae at quae excepturi. Ex unde excepturi voluptatibus itaque.
               p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo quo modi quibusdam rem possimus. Debitis voluptas recusandae at quae excepturi. Ex unde excepturi voluptatibus itaque.