-
   var skills = [
      ['Frontend', [
         ['HTML5', '-40s'],
         ['CSS3', '-10s'],
         ['JavaScript', '-20s'],
         ['Vue.js Jquery', '-20s']]
      ],
      ['Workflow', [
         ['GIT', '-50s'],
         ['Terminal', '-15s'],
         ['Gulp', '-20s'],
         ['Webpack', '-80s']]
      ]
   ];

section.section.section_flex-column-center.values-section
   .container
      .values-section__about
         h2.values-section__title Чем я могу быть полезен вам
         .values-section__text 
            p Lorem olor sit amet consectetur adipisicing elit. Quo, nobis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, cumque!
      .values-section__skills
         .values-section__image
            +image('content/bag.png', 'values-section__img', 'bag-skills')
         #values-component
   .arrow-section.values-section__arrow
      svg(viewBox="0 0 1000 100" preserveAspectRatio="none").arrow-section__item.arrow
         polygon(points="0,0 0,100 1000,100")
      svg(viewBox="0 0 1000 100" preserveAspectRatio="none").arrow-section__item.arrow
         polygon(points="1000,0 1000,100 0,100")