-	var items = ["Главаная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
-	var icons = ["insta", "vk", "github"];

-

- 	var skillTag = ['HTML5','CSS3','JavaScript']

- 	var descCard = ['title project','about project','hiperkink']
//- Vue
//- Jquery
//- GIT
//- Terminal
//- Gulp
//- Webpack

-
	var comment = [
		['user.jpg', 'Max', 'backend', 'massege 1'],
		['user.jpg', 'Vasia', 'frontend', 'massege 2'],
		['user.jpg', 'Masha', 'frontend', 'massege 3'],
		['user.jpg', 'Vova', 'backend', 'massege 4'],
	];
include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Portfolio
	body
		.wrapper
			.wrapper-container
				.section-start
					section.parallax-mount
						.parallax-mount__layer(data-speed='0.10')
							+image('parallax-mount/sky.png', 'parallax-mount__image')
						.parallax-mount__layer(data-speed='0')
							+image('parallax-mount/mountain.png', 'parallax-mount__image')
						.parallax-mount__layer(data-speed='0.10')
							+image('parallax-mount/baloon.png', 'parallax-mount__image')
						.parallax-mount__layer(data-speed='0.30')
							+image('parallax-mount/cloud.png', 'parallax-mount__image')
						.parallax-mount__layer(data-speed='0.15')
							+image('parallax-mount/man.png', 'parallax-mount__image')
						.parallax-mount__layer(data-speed='0.15')
							+image('parallax-mount/mountain1.png', 'parallax-mount__image')
						.parallax-mount__layer(data-speed='0.15')
							+image('parallax-mount/white.png', 'parallax-mount__image')
					section.section.hero
						.container
							header.header
								.header__logo
									.logo АК
								.header__nav
									nav.nav
										ul.nav__list
											each item in items
												li.nav__item
													a.nav__link(href='#') #{item}
								.header__social
									ul.social
										each item in icons
											li.social__item
												a.social__link(href='#')
													+icon(item, "social__svg")
									.header__burger
										a.burger-btn-wrap
											button.burger-btn
							.hero__content
								.user-data
									.user-data__desc
										span Личный сайт
										span веб разработчика
									.user-data__name 
										span Name 
										span Surnamt
							a(href='#').hero__scroll-btn.scroll-down-btn Скролл
					section.section.resume-section
						.container.container_smoll
							.resume
								.resume__info
									.resume__avatar
										.avatar
											+image('content/user.jpg', 'avatar__img', 'user_photo')
									ul.resume__info-list
										li.resume__info-item.resume__info-item_left
											p Проживаю:
											p Возраст:
											p Родился:
										li.resume__info-item.resume__info-item_right
											p Проживаю
											p Возраст
											p Родился
								.resume__content
									.resume__disclamer hello world...
									h2.resume__title Name Surnamt
									.resume__about
										p Lorem ipsum dolor sit amet consectetur, adipisicing. Architecto quod voluptatibus quasi? Nostrum, harum dolorum quam totam ducimus dolorem ipsum.
									.resume__ps
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo quo modi quibusdam rem possimus. Debitis voluptas recusandae at quae excepturi. Ex unde excepturi voluptatibus itaque.
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo quo modi quibusdam rem possimus. Debitis voluptas recusandae at quae excepturi. Ex unde excepturi voluptatibus itaque.
				section.section.section_flex-column-center.values-section
					.container
						.values-section__about
							h2.values-section__title Чем я могу быть полезен вам
							.values-section__text 
								p Lorem olor sit amet consectetur adipisicing elit. Quo, nobis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, cumque!
						.values-section__skills
							.values-section__image
								+image('content/bag.png', 'values-section__img', 'bag-skills')
							#values-component
					.arrow-section.values-section__arrow
						svg(viewBox="0 0 1000 100" preserveAspectRatio="none").arrow-section__item.arrow
							polygon(points="0,0 0,100 1000,100")
						svg(viewBox="0 0 1000 100" preserveAspectRatio="none").arrow-section__item.arrow
							polygon(points="1000,0 1000,100 0,100")
				section.section.section_flex-column-center.perform-section
					.container
						h2.perform-section__title Мои работы
						#perform-slider
					.arrow-section.perform-section__arrow
						svg(viewBox="0 0 1000 100" preserveAspectRatio="none").arrow-section__item.arrow
							polygon(points="1000,0 1000,100 0,100")
						svg(viewBox="0 0 1000 100" preserveAspectRatio="none").arrow-section__item.arrow
							polygon(points="0,0 0,100 1000,100")

				.section-finish
					.parallax-buddha
						.parallax__layer
							+image('parallax-buddha/background.png', 'parallax__bg')
						.parallax__layer
							+image('parallax-buddha/mount_2.png', 'parallax__mount')
						.parallax__layer
							+image('parallax-buddha/buddha_3.png', 'parallax__buddha')
						.parallax__layer
							+image('parallax-buddha/cloud_4.png', 'parallax__cloud')
						.parallax__layer
							+image('parallax-buddha/cloud_5.png', 'parallax__cloudmid')
						.parallax__layer
							+image('parallax-buddha/cloud_6.png', 'parallax__cloudback')
						section.section.section_flex-column-center.feedback
							.container
								#feedback-component
						section.section.connect
							.container
								h2.connect__title Связаться со мной
								.connect__form
									form.form-connect(name='formConnect')
										.form-connect__row
											label.form-connect__label
												input.form-connect__input(type='text', name='username', required="" autocomplete="off")
												.form-connect__title Введите ваше имя
												.form-connect__icon-wrap
													+icon('user', 'form-connect__icon')
											label.form-connect__label
												input.form-connect__input(type='email', name='email', required="")
												.form-connect__title Введите ваш email
												.form-connect__icon-wrap
													+icon('envelope', 'form-connect__icon')
										.form-connect__row
											label.form-connect__label
												textarea.form-connect__input.form-connect__textarea(name='comments', required="")
												.form-connect__title Сообщение к письму
												.form-connect__icon-wrap
													+icon('message', 'form-connect__icon')
										.form-connect__row.form-connect_btn
											button.btn(type='submit' name="btn-submit") Отправить
			footer.footer
				.container.footer__container
					.footer__column-left
						.footer__copyright © 2020
						.footer__title
							.footer__data-name
								span Name&nbsp
								span Surname
							.footer__data-desc
								span Личный сайт&nbsp
								span веб-разработчика
					.footer__column-right
						.footer__nav
							nav.nav
								ul.nav__list
									each item in items
										li.nav__item
											a.nav__link(href='#') #{item}
						.footer__row
							.footer__column-inner-left
								.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
								.footer__social
									ul.social
										each item in icons
											li.social__item
												a.social__link(href='#')
													+icon(item, "social__svg")
							.footer__column-inner-right
								.footer__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
								.footer__text-sig Martin Galding		

		include ./templates/entry.pug