include ./mixins.pug

- var items = ["Главаная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
- var icons = ["insta", "vk", "github"];


<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Portfolio
	body
		.wrapper
			.wrapper-container
				.section-start
					include components/parallax-mount
						include components/hero
						include components/resume
						include components/parallax-mount

				include components/values
				include components/perform

				.section-finish
					include components/parallax-buddha
						include components/feedback
						include components/form

			include components/footer